/* Colors.less
 * Defines colors used
 */

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
@main-color: #444;
@body-background-color: #FEFEFE;

@text-shadow-color: rgba(0,0,0,0.2);
@inset-shadow-color: rgba(255,255,255,0.4);
@gradient-start-color: #E0E0E0;
@gradient-end-color: #CDCDCD;


/* Selection */
@select-color: #000;
@select-background-color: #b4d5fe;

/* Links */
@link-color: #2200C1;
@link-hover-color: @link-color;
@link-active-color: @link-color;
@link-visited-color:@link-color;

/* Defaults for insert and invalid input fields */
@invalid-input-glow-color: #b90000;
@invaild-input-background-color: #f0dddd;
@ins-color: #000;
@ins-background-color: #ff9;
@mark-color: @ins-color;
@mark-background-color: @ins-background-color;