/* set your base font here, to apply evenly */

body, select, input, textarea { 
    font-family: 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
}

.preamble { 
        font-size: 1.25em;
        line-height: 1.2;
		font-style: italic;
		font-weight: lighter;
		text-shadow: @text-shadow-color (2 * @1px) @1px @1px; 
}

.data { font-size: 5em;
    line-height: 1.1;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
}