html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{background-color:#ffff99;color:#000000;text-decoration:none;}
mark{background-color:#ffff99;color:#000000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:0.0625em dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:0.0625em;border:0;border-top:0.0625em solid #cccccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body{font-size:100%;line-height:1.125em;*font-size:small;}
select,input,textarea,button{font:99% sans-serif;}
pre,code,kbd,samp{font-family:monospace,sans-serif;}
body,select,input,textarea{color:#444444;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
html{overflow-y:scroll;}
a:hover,a:active{outline:none;}
a{color:#2200c1;}
a:active{color:#2200c1;}
a:visited{color:#2200c1;}
a:hover{color:#2200c1;}
ul,ol{margin-left:2em;}
ol{list-style-type:decimal;}
nav ul,nav li{margin:0;list-style:none;list-style-image:none;}
small{font-size:85%;}
strong,th{font-weight:bold;}
td{vertical-align:top;}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;padding:0.9375em;}
textarea{overflow:auto;}
.ie6 legend,.ie7 legend{margin-left:-7px;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
.ie6 input{vertical-align:text-bottom;}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer;}
button,input,select,textarea{margin:0;}
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 0.3125em #b90000;-webkit-box-shadow:0 0 0.3125em #b90000;box-shadow:0 0 0.3125em #b90000;}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd;}
::-moz-selection{background:#b4d5fe;color:#000000;text-shadow:none;}
::selection{background:#b4d5fe;color:#000000;text-shadow:none;}
a:link{-webkit-tap-highlight-color:#b4d5fe;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
body,select,input,textarea{font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;}
.preamble{font-size:1.25em;line-height:1.2;font-style:italic;font-weight:lighter;text-shadow:rgba(0, 0, 0, 0.2) 0.125em 0.0625em 0.0625em;}
.data{font-size:5em;line-height:1.1;font-weight:bold;text-align:center;word-wrap:break-word;}
#page{margin:2.5em auto;padding:0 1em;max-width:61.75em;}
body{background-color:#fefefe;}
.box{color:#444444;margin-left:14.5748987854251%;width:70.8502024291498%;margin-top:6.25em;padding:0.625em 0.3125em;background-color:#fefefe;background-image:-moz-linear-gradient(top, #e0e0e0 0%, #cdcdcd 100%);background-image:-webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#cdcdcd));border:0.125em solid #444444;border-radius:0.625em;-webkit-border-radius:0.625em;-moz-border-radius:0.625em;box-shadow:0 0 0.1875em rgba(0, 0, 0, 0.2),0.0625em 0.0625em 2.5em rgba(255, 255, 255, 0.4) inset;-webkit-box-shadow:0 0 0.1875em rgba(0, 0, 0, 0.2),0.0625em 0.0625em 2.5em rgba(255, 255, 255, 0.4) inset;-moz-box-shadow:0 0 0.1875em rgba(0, 0, 0, 0.2),0.0625em 0.0625em 2.5em rgba(255, 255, 255, 0.4) inset;}
.preamble{float:left;width:79.42857142857143%;padding-left:1em;}
.data{float:right;width:100%;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media screen and (min-width: 1200px){#page{max-width:77.5em;} .preamble{font-size:1.5em;line-height:1.2;float:left;width:79.42857142857143%;} .data{font-size:6em;line-height:1.2;float:right;width:100%;} .box{margin-left:14.5748987854251%;width:70.8502024291498%;}}@media screen and (max-width: 700px){#page{max-width:42.5em;} .preamble{font-size:1em;line-height:1.2;float:left;width:58.857142857142854%;} .data{font-size:3em;line-height:1.2;float:right;width:100%;} .box{margin-left:14.5748987854251%;width:70.8502024291498%;margin-top:2.5em;padding:0.4375em 0.1875em;}}@media screen and (max-device-width: 480px){body{background-color:#e0e0e0;} #page{margin:0;padding:0;max-width:320px;} .box{width:100%;height:100%;margin:0;padding-top:1em;border:none;background:transparent;background-image:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:0 0 0 rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 0 rgba(0, 0, 0, 0.2);padding:0.4375em 0.1875em;} .preamble{font-size:0.8em;line-height:1.1;width:100%;} .data{font-size:1.8em;line-height:1.1;width:100%;}}@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{color:#444 !important;text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
